div(class='panel panel-default')
    div(class='panel-heading') Excersises    
    div(class='panel-body')
        table(data-bind='foreach: excerciseList', style='width: 100%')
            tr(class='selectable-row', data-bind='click: $parent.onSelect')
                td
                    p(data-bind='text: $data.title')