div(class='panel panel-default')
    div(class='panel-heading')
        form(data-bind='submit: check', autocomplete='off')
            input(id='tip', type='text', class='text-input', data-bind='textInput: checkWord')
            input(id='check', type='submit', class='button', value='Check')
    div(class='panel-body', data-bind='foreach: filteredItems')
        div(class='word wrong')
            p(data-bind='text: $data')