extends page

mixin each(val)
    <!-- ko foreach: !{val} -->
    block
    <!-- /ko -->

block script
    script(type='text/javascript', data-main='/javascripts/public/build', src='bower_components/requirejs/require.js')

block content
  div(class='container-fluid')
    div(class='row')
        
        div(class='col-md-3 smaller')
            search-widget(params='onSubmit: $root.onWordCheck, excercise: $root.excercise, pointLabelModels: $root.pointLabelModels')
            points-widget(params='pointsModel: $root.excercise().pointsModel')
                            
        div(class='col-md-6 smaller')
            div(class='panel panel-default')
                div(class='panel-heading')
                    p(data-bind='text: $root.excercise().title')
                div(class='panel-body')
                    div(class='container-words', data-bind='foreach: $root.excercise().words')
                        div(data-bind='css: style')
                            p(class='word', data-bind='text: value')
                            div(class='letter-counter', data-bind='text: points')        
                    div(class='word-points-container')
                        +each('$root.pointLabelModels')
                            div(class='label word-points')
                                p(data-bind='text: $data.achievedPoints()')
               
        div(class='col-md-3 smaller')
            excercise-list-widget(params='excerciseList: $root.excercises, onSelect: $root.selectExcercise')