doctype html
html
  
  head
    meta(charset='UTF-8')
    title Lang-Coach
    
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/word.css')
    
    script(type='text/javascript', data-main='/javascripts/build', src='bower_components/requirejs/require.js')
    
  body
    block content
