doctype html
html
  
  head
    meta(charset='UTF-8')
    title Lang-Coach
    
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/word.css')
    
    script(type='text/javascript' src='/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/knockout/build/output/knockout-latest.js')
    
    block extrascript
    
  body
    block content
