div(class='col-md-12 nested')
    div(class='panel panel-dfault')
        div(class='panel-body')
            form(data-bind='submit: check', autocomplete='off')
                input(id='tip', type='text', class='text-input', data-bind='textInput: checkWord')
                input(id='check', type='submit', class='button', value='Check')
div(class='col-md-12 nested')
    div(class='panel panel-dfault')
        div(class='panel-body', data-bind='foreach: filteredItems')
            div(class='word wrong')
                p(data-bind='text: $data')