body {
	background-color: lightgray;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
}

.col-md-3.smaller {
	padding: 5px;	
}

.col-md-4.smaller {
	padding: 5px;	
}

.col-md-6.smaller {
	padding: 5px;	
}

.col-md-12.nested {
	padding: 0px;	
}
