.word {
    position: relative;
	float: left;
    height: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 4px;
	margin-right: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}

.letter-counter {
    position: absolute;
    z-index: 10;
    right: 2px;
    color: black;
    font-size: 12px;
    background-color: whitesmoke;
}

.word.wrong {
    background-color: indianred;
    color: white;
	margin-right: 4px;
}

.word.hidden-word {
	background-color: indianred;
}

.word.hidden-word p.word {
    visibility: hidden;
}

.word.hidden-word div.letter-counter {
    visibility: visible;
}

.word.visible-word {
    color: black;
	background-color: beige;
    animation-name: pulse;
    animation-duration: 0.5s;
    z-index: 1; 
    position:relative;
}

@keyframes pulse {
    0% { transform: scale(1); background-color: indianred; }
    50% { transform: scale(2); }
    100% { transform: scale(1); background-color: beige; }
}

.word.visible-word p.word {
    visibility: visible;
}

.word.visible-word div.letter-counter {
    visibility: hidden;
}

.word.default-visible-word {
    color: black;
}

.word.default-visible-word div.word {
    visibility: visible;
}

.word.default-visible-word div.letter-counter {
    visibility: hidden;
}

.word-points {
    background-color: green;
    border-radius: 15px;
    font-size: 25pt;
    font: 'Times New Roman';
    padding: 8px;
    color: white;
    left: 50%;
    top: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    opacity: 0;

    animation-name: float-away;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes float-away {
    0% { top: 100px; opacity: 0; }
    50% { opacity: 1; }
    100% { top: 50px; opacity: 0; }
}